body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

h1{
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.dados{
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.descricao{
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}

#lista{
  list-style-type: disc;
  margin-left: 30px;
}

table{
  max-width: 300px;
  margin-bottom: 20px;
  margin-top: 20px;
}

tr, td, th {
padding: 5px;
border: 1px solid gray;
}

th{
  background-color: #ddd;
}