.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
}

.countries{
  min-width:  140px;
  margin-left: 10px;
}

.population{
  min-width:  300px;
}