.country-container {
  display: flex;
  flex-direction: column;
}

.title{
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  color: #BFBFBF;
  padding: 15px;
 }

 .title h1{
    margin-bottom: 10px;
 }

 #start-message{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   margin-top: 50px;
   color: #8C8C8C;
 }

 .statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #BFBFBF;
  margin: 15px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
}

.statistics h1{
  font-size: 2.5rem;
  margin-bottom: 5px;
}

#not-found{
  padding: 7px;
  font-size: 1.5rem;
}

#total-user{
  font-size: 2rem;
  margin-bottom: 5px;
}

.statistic-data{
  display: flex;
  width: 80%;
  margin: 7px;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.detail{
  display: flex;
  justify-content: center;
}

.detail-user{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 10px;
 }
 
 .usersDetail{
  color: #BFBFBF;
  border: 1px solid rgb(243, 238, 238);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 8px;
  width: 150px;
}

.usersDetail span{
  margin-top: 8px;
  font-size: 1.2rem;
  text-align: center;
}

.usersDetail img {
  width: 70px;
  height: 70px;
  margin-right: 8px;
  border-radius: 50%;
}

#logo{
  width: 200px;
  margin-bottom: 8px;
}

